.custom_data{
    padding: 30px 30px;
    line-height: 1.7;
}

.fa-layer-group{
color: #423F3E;
}

.data_heading{
    text-align: left;
    padding: 0 10px;
    padding-bottom: 10px;
}

.page_header {
    width: 100%;
    span {
        font-weight: 100;
    }
}