.map_container_top {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.map_container_bottom {
    position: absolute;
    height: 100%;
    width: 100%;
}

.split_icon {
    width: 70px;
    height: 70px;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);;
    z-index: 11;
    cursor: pointer;
}

.select_map_top {
    position: absolute;
    z-index: 12;
    left: 20px;
    top: 20px;
    width: fit-content;
    height: fit-content;
}

.select_map_bottom {
    position: absolute;
    z-index: 12;
    right: 20px;
    top: 20px;
    width: fit-content;
    height: fit-content;
}

.select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    width: 110px;
    // border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 2rem;
    color: #1E1E1E;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    // background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;

    &:after {
        content: "abhishek";
        width: 0.8em;
        height: 0.5em;
        background-color: #777;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        grid-area: select;
        justify-self: end;
    }
}

.optgroup {
    font-size: 1rem;
}

.nightlight_1_4 {
    position: absolute;
    width: 25%;
    height: 100%;
}

.nightlight_2 {
    left: 25%;
}

.nightlight_3 {
    left: 50%;
}

.nightlight_4 {
    left: 75%;
}

.info_box {
    position: absolute;
    z-index: 12;
    bottom: 10px;
    align-self: center;
    color: #1E1E1E;
    left: 50%;
    transform: translate(-50%, 0%);

    .polygon_group {
        width: fit-content;
        // margin: 0 auto;
        margin-bottom: 20px;
        color: #fff;
        padding: 5px 10px;
        // border: 3px solid #fff;
        border-radius: 4px;
        font-weight: 800;
        font-size: 1.3rem;
    }

    .stats_container {
        background-color: #fff;
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: 4px;

        .stats_numbers {
            display: inline-block;
            padding: 5px 10px;
            margin: 5px 0;
            min-width: 230px;

            .stats_year {
                font-size: 1.3rem;
                font-weight: 700;
            }

            .stats_area {
                font-size: 2.5rem;
                font-weight: 900;
                .stats_unit {
                    font-size: 1.3rem;
                }
            }
        }

        .stats_top {
            @extend .stats_numbers;
            color: #0B4DB5;
            border-right: 1px dashed #00000033;
            padding-right: 20px;
        }

        .stats_bottom {
            @extend .stats_numbers;
            color: #D80F00;
            padding-left: 20px;
        }
    }

    .urban_core {
        background-color: #B89A4C;
    }

    .urban_periphery {
        background-color: #A97A41;
    }

    .urban_outer {
        background-color: #A25B3A;
    }

    
}

