.transit_control_container {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 13px;
    background-color: #fff;
    border-radius: 5px;
    h3 {
        font-size: 2rem;
        margin: 5px 0;
    }
    h4 {
        font-weight: 600;
    }
    .option_container {
        display: grid;
        grid-template-columns: 120px 120px;
        .option_box {
            background-color: #f1f1f1;
            margin: 4px 4px;
            padding: 3px;
            border-radius: 5px;
            .layer_name {
                font-size: 0.8rem;
                font-weight: 600;
                display: block;
                margin: 0 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.legend {
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    border: 1px solid #fff;
    .legend_box {
        width: 15px;
        height: 15px;
        p {
            position: relative;
            top: 9px;
            font-size: 0.5rem;
            color: #fff;
        }
    }
}

.tooltip {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #1D1B21;
    padding: 10px;
    color: #fff;
    size: 0.3;
    p {
        font-size: 0.8rem;
        font-weight: 900;
        margin: 5px 0;
        span {
            font-weight: 100;
        }
    }
    
}
