.info_box {
    position: absolute;
    display: none;
    max-width: 300px;
    top: 10px;
    left: 320px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.6rem;

    h2, h3 {
        margin: 0;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }
    .imp_info_container {
        h2 {
            min-height: 80px;
        }
    }
    .stats_box {
        margin: 20px 0px;

        .speed_tag_container {
            display: flex;
            align-items: center;
            div {
                margin-right: 20px;
            }
            img {
                width: 50px;
                display: inline-block;
            }
            p {
                display: inline-block;
            }
            h3 {
                display: block;
            }
        }
        .cost_container {
            display: flex;
            margin: 20px 0;
            .cost_item {
                flex: 1;
                p {
                    font-size: 0.7rem;   
                }
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
.ward_info_box{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.6rem;
    h2{
        margin: 0;
    }
}
.ward_destination_info_box{
    position: absolute;
    top: 140px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.6rem;
    h2{
        margin: 0;
    }
}
.comparison_info_box {
    position: absolute;
    display: none;
    max-width: 300px;
    bottom: 10px;
    left: 320px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.6rem;

    h2, h3 {
        margin: 0;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }
    .imp_info_container {
        h2 {
            min-height: 80px;
        }
    }
    .stats_box {
        margin: 20px 0px;

        .speed_tag_container {
            display: flex;
            align-items: center;
            div {
                margin-right: 20px;
            }
            img {
                width: 50px;
                display: inline-block;
            }
            p {
                display: inline-block;
            }
            h3 {
                display: block;
            }
        }
        .cost_container {
            display: flex;
            margin: 20px 0;
            .cost_item {
                flex: 1;
                p {
                    font-size: 0.7rem;   
                }
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.iuo_title {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px 20px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 800;
}

.controller_container {
    position: absolute;
    top: 87px;
    left: 10px;
    padding: 15px 20px;
    height: calc(100% - 97px);
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow-y: scroll;

    a {
        color: #3D7DB2;
    }

    h1 {
        margin-top: 5px;
    }
    .heading {
        font-size: 1.6rem;
    }
    .detail_info {
        line-height: 1.6rem;
        text-align: justify;
    }
}

.legend {
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    .legend_box {
        width: 15px;
        height: 15px;
        p {
            position: relative;
            top: 9px;
            font-size: 0.5rem;

        }
    }
}

.modal{
    font-size: 12px;
    .header {
        width: 100%;
        border-bottom: 1px solid gray;
        font-size: 18px;
        text-align: center;
        padding: 5px;
    }
    .content {
        width: 100%;
        padding: 10px 5px;
    }
    .close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
    } 
}

.button {
    border: none; // remove borders
    cursor: pointer;
    text-decoration: underline; // remove default text decoration
    background-color: transparent;
}